<body style="font-family: Comic Sans MS">
  <div class="conteudo">
    <h1>Busca por: Milkshakes de Morango</h1>
    <ul class="produtos row">
      <li class="cards">
        <a href="http://localhost:4200/produto-detalhe"
          ><img
            src="../../assets/imagens/milkshake6.jpeg"
            alt="Milkshake - Morango"
            class="milkshakes"
          />
        </a>
        <h2>Morango</h2>
        <p>350 ml</p>
        <p>R$16,00</p>
      </li>
      <li class="cards">
        <a href="http://localhost:4200/produto-detalhe"
          ><img
            src="../../assets/imagens/milkshake4.jpeg"
            alt="Milkshake - Frutas Vermelhas"
            class="milkshakes"
          />
        </a>
        <h2>Frutas Vermelhas</h2>
        <p>350 ml</p>
        <p>R$16,00</p>
      </li>
    </ul>
  </div>
</body>
